@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(images/bg1.png);
  background-size: cover;
  background-position: center;
}

.container {
  width: 400px;
  height: 100px;
  padding: 20px;
  position: relative;
  color: white;
  background-color: rgba(255, 255, 255, .1);
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: height 0.6s ease;
}

.search-box {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
}

.search-box input {
  width: 100%;
  height: 100%;
  padding: 0 45px 0 40px;
  position: absolute;
  color: white;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 10px;
  outline: none;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.search-box input::placeholder {
  color: white;
  text-transform: capitalize;
}

.search-box i {
  position: absolute;
  left: 7px;
  font-size: 30px;
}

.search-box button {
  position: absolute;
  right: 0;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 30px;
  color: white;
  padding: 0 40px 25px 5px;
  cursor: pointer;
}

.weather-box {
  text-align: center;
  margin: 30px 0;
}

.weather img {
  width: 55%;
}

.weather #temperature {
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
  position: relative;
  margin: 10px 0 0 -10px;
}

.weather #description {
  font-size: 30px;
  margin-bottom: 30px;
  line-height: 1;
  padding: 10px 0;
}

.weather #city {
  margin-top: -35px;
  font-size: 40px;
  line-height: 1;
padding-bottom: 10px;
}

.weather-details {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 40px;
  left: 0;
  padding: 0 20px;
}

.weather-details i {
  font-size: 55px;
  margin-right: 10px;
}

.weather-details .humidity-details,
.weather-details .wind-details {
  display: flex;
  align-items: center;
  width: 50%;
  transform: translateY(-100%);
}
.weather-details.active .humidity-details,
.weather-details.active .wind-details{
  transform: translateY(0%);
  transition: 1s ease;
  transition-delay: .6s;
}

.weather-details .humidity-details {
  padding-left: 15px;
  justify-content: flex-start;
}

.weather-details .wind-details {
  padding-right: 20px;
  justify-content: flex-end;
}

.weather-details #humidity,
#wind {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
}

.weather-details p {
  font-size: 15px;
  font-weight: 500;
}
.weather-box, .weather-details, .not-found{
  overflow: hidden;
  visibility: hidden;
}
.weather-box.active, .weather-details.active, .not-found.active{
  visibility: visible;
}
.weather-box .weather-info,
.not-found .box{
  transform: translateY(-100%);
}
.weather-box.active .weather-info,
.not-found.active .box{
  transform: translateY(0%);
  transition: 1s ease;
  transition-delay: .5s;
}

.not-found{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 120px;
  text-align: center;
  width: 100%;
}
.not-found img{
  width: 80%;
}
.not-found p{
  font-size: 24px;
  font-weight: 500;
  margin-top: 15px;
}